<!-- mybatis-config.xml -->
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <typeAlias type="object" alias="character" />
        <typeAlias type="object" alias="chat" />
        <typeAlias type="object" alias="user" />
    </typeAliases>
</configuration>
